/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #05063e;
$--color-text-primary: #05063e;
$--color-text-regular: #05063e;
$--border-color-base: #05063e;
$--border-color-light: #05063e;
$--color-text-placeholder: #20216d;
/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
